.mat-mdc-tooltip .mdc-tooltip__surface {
    // background: red!important;
    font-size: 1.1rem!important;
    // width: 1000px!important;
}
.tooltip {
    position: relative;
    padding: 5px 10px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: rgb(56, 56, 56);
    border-radius: 50%;
    color: #fff;
    cursor: help;
    transition: all 0.2s ease-out;
  }
  
  .tooltip:hover {
    box-shadow: 0 0 6px 0 black;
  }
  
  
  .tooltip::before, .tooltip::after {
     position: absolute;
     left: 50%;
     opacity: 0;
     transition: all 0.2s ease-out;
  }
  
  .tooltip::before {
    content: "";
    border-width: 5px 4px 0 5px;
    border-style: solid;
    border-color: rgba(56, 56, 56, 0.8) transparent;
    margin-left: -4px;
    top: -8px;
  }
  
  .tooltip::after {
    content: attr(data-tooltip);
    top: -8px;
    width: 150px;
    margin-left: -75px;
    padding: 5px;
    font-size: 12px;
    background-color: rgba(56, 56, 56, 0.8);
    border-radius: 4px;
    transform: translate3d(0, -100%, 0);
    pointer-events: none;
  }
  
  /* 4 tooltip positions */
  
  .tooltip[data-tooltip-position='left']::before {
    margin-left: -21px;
    top: 12px;
    transform: rotate(-90deg);
  }
  
  .tooltip[data-tooltip-position='left']::after {
    transform: translate3d(-65%, 40%, 0);
  }
  
  .tooltip[data-tooltip-position='right']::before {
    margin-left: 14px;
    top: 12px;
    transform: rotate(90deg);
  }
  
  .tooltip[data-tooltip-position='right']::after {
    transform: translate3d(60%, 40%, 0);
  }
  
  .tooltip[data-tooltip-position='bottom']::before {
    margin-left: -4px;
    top: 32px;
    transform: rotate(-180deg);
  }
  
  .tooltip[data-tooltip-position='bottom']::after {
    transform: translate3d(0, 186%, 0);
  }
  
  /* end of 4 tooltip positions */
  
  .tooltip:hover::before, .tooltip:hover::after {
    opacity: 1;
  } 
// mdc-tooltip__surface mdc-tooltip__surface-animation
// #custome-player{
//     display: flex; 
//     justify-content: center; 
//     align-items: center; 
//     height: 50vh; 
//     position: relative;
//     overflow: hidden;
//     background-color: black;
//     z-index: 2;
// }
// #player {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     // height: 80vh;
//     position: relative;
//     overflow: hidden;
//     width: 100%; 
//     height: 100%;
// }
#custome-player{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 50vh; 
    position: relative;
    overflow: hidden;
    background-color: black;
    z-index: 2;
}
#player {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 80vh;
    position: relative;
    overflow: hidden;
    width: 100vw; 
    height: 400%;
}


#player iframe {
    width: 100%;
    height: 100%;
}

.custom-player-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
// .custom-player-wrapper {
//     position: absolute;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background-color: pink;
//   }

.center-play-pause {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .play-pause-button {
    font-size: 3rem;
    color: white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5); /* Example background color for the button */
    border-radius: 50%;
    padding: 20px; /* Adjust as needed */
  }
  
  .play-button {
    font-size: 6rem;
    color: white;
  }
.control-bar-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.timeline-container {
    width: 100%;
    height: 5px;
    background: rgba(255, 255, 255, 0.3);
    position: relative;
    cursor: pointer;
    --progress-position: 0;
    --preview-progress: 0;
}


.timeline {
    width: 100%;
    height: 5px;
    background-color: #ddd;
    position: relative;

    .thumb-indicator {
      height: 100%;
      background-color: #428bca;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

.control-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 0;
}

.control-bar-left,
.control-bar-right {
    display: flex;
    align-items: center;
}

.control-bar-left i,
.control-bar-right i {
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
    margin: 0 5px;
}


.sound-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.sound-container i {
    margin-right: 5px;
}

.sound-container input[type=range] {
    width: 100px;
    -webkit-appearance: none;
    appearance: none;
    background: linear-gradient(to right, rgb(255, 255, 255) 100%, rgb(155, 155, 155) 75%);
    height: 5px;
    outline: none;
    cursor: pointer;
}

.sound-container input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
}

.time {
    margin-left: 10px;
    color: #fff;
}

.settings-container {
    display: none;
    position: absolute;
    bottom: 50px;
    right: 10px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    z-index: 10;
}

.settings-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.settings-container li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    cursor: pointer;
}

.settings-container li:hover {
    background: rgba(255, 255, 255, 0.2);
}

.settings-container li i {
    margin-right: 0.5em;
    font-size: 1.2em;
}

.settings-container li div {
    margin-left: 1em;
    font-size: 0.9em;
}

.settings-container li div:last-child {
    margin-left: 0.5em;
}

.bi-gear:hover + .settings-container {
    display: block;
}

#fullscreen-btn {
    margin-left: 0.5em;
    margin-top: 0.1em;
    cursor: pointer;
}

#fullscreen-btn i {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
}

.control-bar-right i.settings {
    position: relative;
}

.control-bar-right i.settings:hover + .settings-container {
    display: block;
}

#fullscreen-btn i:hover {
    color: rgb(30, 176, 76);
}